<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krnblni.evetech.glaufirewallauthenticator">

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Custom"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activities.InterstitialAdActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InitialSetupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2369194065944897~3644623004" />

        <receiver android:name=".receivers.WifiConnectionStateReceiver" />


        <service
            android:name=".services.HelperForegroundService"
            android:enabled="true"
            android:label="Helper Foreground Service"
            android:stopWithTask="false" />
        <service
            android:name=".services.LoginForegroundService"
            android:enabled="true"
            android:label="Login Foreground Service"
            android:stopWithTask="false" />
        <service
            android:name=".services.StartHelperForegroundTileService"
            android:icon="@drawable/ic_stat_app_icon_notification"
            android:label="GLAU FireAuth"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>
        <service
            android:name=".services.LoginInitiatorJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>